<launch>
  <!-- Load the clean Xacro model into /robot_description. -->
  <arg name="prefix" default=""/>

  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find robot_description)/urdf/robotcar.urdf.xacro' prefix:=$(arg prefix)"/>

  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen"/>
</launch>
