<?xml version="1.0"?>
<robot name="robotcar_kinematic_skeleton">
  <material name="body"><color rgba="0.65 0.65 0.65 0.40"/></material>
  <material name="fl"><color rgba="1 0.15 0.15 1"/></material>
  <material name="fr"><color rgba="0.15 1 0.15 1"/></material>
  <material name="rl"><color rgba="0.15 0.35 1 1"/></material>
  <material name="rr"><color rgba="1 0.75 0.10 1"/></material>

  <link name="base_footprint"/>
  <link name="base_link">
    <visual>
      <origin xyz="0.0095 0 0.010"/>
      <geometry><box size="0.311 0.176 0.020"/></geometry>
      <material name="body"/>
    </visual>
  </link>
  <joint name="base_footprint_joint" type="fixed"><parent link="base_footprint"/><child link="base_link"/><origin xyz="0 0 0.035791123"/></joint>

  <link name="front_left_wheel_link"><visual><origin rpy="1.570796327 0 0"/><geometry><cylinder radius="0.037230282" length="0.032000005"/></geometry><material name="fl"/></visual></link>
  <joint name="front_left_wheel_joint" type="continuous"><parent link="base_link"/><child link="front_left_wheel_link"/><origin xyz="0.106000002 0.125 0"/><axis xyz="0 1 0"/></joint>

  <link name="front_right_wheel_link"><visual><origin rpy="1.570796327 0 0"/><geometry><cylinder radius="0.037230282" length="0.032000005"/></geometry><material name="fr"/></visual></link>
  <joint name="front_right_wheel_joint" type="continuous"><parent link="base_link"/><child link="front_right_wheel_link"/><origin xyz="0.106000002 -0.125 0"/><axis xyz="0 1 0"/></joint>

  <link name="rear_left_wheel_link"><visual><origin rpy="1.570796327 0 0"/><geometry><cylinder radius="0.037230282" length="0.032000005"/></geometry><material name="rl"/></visual></link>
  <joint name="rear_left_wheel_joint" type="continuous"><parent link="base_link"/><child link="rear_left_wheel_link"/><origin xyz="-0.106000002 0.125 0"/><axis xyz="0 1 0"/></joint>

  <link name="rear_right_wheel_link"><visual><origin rpy="1.570796327 0 0"/><geometry><cylinder radius="0.037230282" length="0.032000005"/></geometry><material name="rr"/></visual></link>
  <joint name="rear_right_wheel_joint" type="continuous"><parent link="base_link"/><child link="rear_right_wheel_link"/><origin xyz="-0.106000002 -0.125 0"/><axis xyz="0 1 0"/></joint>
</robot>
