<launch>
  <arg name="publish_wheel_odom" default="true"/>
  <rosparam command="load" file="$(find robot_description)/config/mecanum_controllers.yaml"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
        args="joint_state_controller wheel_velocity_controller"/>
  <node name="mecanum_cmd_vel" pkg="robot_mecanum_control" type="mecanum_cmd_vel.py" output="screen">
    <rosparam command="load" file="$(find robot_mecanum_control)/config/mecanum.yaml"/>
  </node>
  <node if="$(arg publish_wheel_odom)" name="mecanum_wheel_odometry"
        pkg="robot_mecanum_control" type="mecanum_wheel_odometry.py" output="screen">
    <rosparam command="load" file="$(find robot_mecanum_control)/config/mecanum.yaml"/>
  </node>
</launch>
