<?xml version="1.0"?>
<!--
  Plain-URDF equivalent of robotcar.urdf.xacro for tools/web viewers that do not process Xacro.
  Geometry and physical parameters are reorganized from the official mowen.urdf.
-->
<robot name="robotcar">

  <material name="official_white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="base_footprint"/>

  <link name="base_link">
    <inertial>
      <origin xyz="-0.0718509386127836 0.00738215784490541 0.126176355791491"
              rpy="0 0 0"/>
      <mass value="0.486218814966626"/>
      <inertia ixx="0.00196277727666921"
               ixy="2.50447049446755E-07"
               ixz="0.000140534767811098"
               iyy="0.00457256033711368"
               iyz="2.68618064993882E-07"
               izz="0.00493927269870476"/>
    </inertial>

    <visual name="official_cad_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL"/>
      </geometry>
      <material name="official_white"/>
    </visual>

    <collision name="official_cad_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
