<launch>

  <!-- ================================================== -->
  <!-- Arguments -->
  <!-- ================================================== -->

  <arg name="use_sim_time" default="true"/>
  <arg name="open_rviz" default="true"/>

  <param name="/use_sim_time"
         value="$(arg use_sim_time)"/>


  <!-- ================================================== -->
  <!-- Cartographer -->
  <!-- ================================================== -->

  <node pkg="cartographer_ros"
        type="cartographer_node"
        name="cartographer_node"
        output="screen"
        args="
          -configuration_directory $(find robot_navigation)/config
          -configuration_basename cartographer_2d.lua
        ">

    <remap from="scan" to="/scan"/>
    <remap from="odom" to="/odometry/filtered"/>
    <remap from="imu" to="/imu/data"/>

  </node>


  <!-- ================================================== -->
  <!-- Occupancy Grid -->
  <!-- ================================================== -->

  <node pkg="cartographer_ros"
        type="cartographer_occupancy_grid_node"
        name="cartographer_occupancy_grid_node"
        output="screen"
        args="
          -resolution 0.02
          -publish_period_sec 1.0
        "/>


  <!-- ================================================== -->
  <!-- RViz -->
  <!-- ================================================== -->

  <node if="$(arg open_rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        output="screen"
        args="-d $(find robot_navigation)/rviz/mapping.rviz"/>

</launch>