<launch>

  <!-- ================================================== -->
  <!-- Arguments -->
  <!-- ================================================== -->

  <!-- Competition world -->
  <arg name="world_name"
       default="$(find robot_gazebo)/worlds/competition_field.world"/>

  <!-- Gazebo options -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Robot options -->
  <arg name="spawn_robot" default="true"/>
  <arg name="robot_name" default="robotcar"/>

<arg name="robot_x" default="1.696892"/>
<arg name="robot_y" default="-1.680704"/>
<arg name="robot_z" default="0.023994"/>
<arg name="robot_yaw" default="1.568056"/>

  <!-- RViz -->
  <arg name="rviz" default="false"/>
  <arg name="rviz_config"
       default="$(find robot_gazebo)/rviz/simulation.rviz"/>

  <!-- ================================================== -->
  <!-- Gazebo environment -->
  <!-- ================================================== -->

  <!-- Custom Gazebo models -->
  <env name="GAZEBO_MODEL_PATH"
       value="$(find robot_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- Custom Gazebo plugins -->
  <env name="GAZEBO_PLUGIN_PATH"
       value="$(find robot_gazebo)/../../devel/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>

  <!-- Disable online Gazebo model database -->
  <env name="GAZEBO_MODEL_DATABASE_URI"
       value=""/>


  <!-- ================================================== -->
  <!-- Gazebo -->
  <!-- ================================================== -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name"
         value="$(arg world_name)"/>

    <arg name="paused"
         value="$(arg paused)"/>

    <arg name="use_sim_time"
         value="$(arg use_sim_time)"/>

    <arg name="gui"
         value="$(arg gui)"/>

    <arg name="headless"
         value="$(arg headless)"/>

    <arg name="debug"
         value="$(arg debug)"/>

  </include>


  <!-- ================================================== -->
  <!-- Robot description -->
  <!-- ================================================== -->

  <group if="$(arg spawn_robot)">

    <param name="robot_description"
           command="$(find xacro)/xacro $(find robot_description)/urdf/robotcar.urdf.xacro"/>


    <!-- Robot TF -->
    <node pkg="robot_state_publisher"
          type="robot_state_publisher"
          name="robot_state_publisher"
          output="screen">

      <param name="use_sim_time"
             value="$(arg use_sim_time)"/>

    </node>


    <!-- Spawn robot -->
    <node pkg="gazebo_ros"
          type="spawn_model"
          name="spawn_robot"
          output="screen"
          args="
            -urdf
            -param robot_description
            -model $(arg robot_name)
            -x $(arg robot_x)
            -y $(arg robot_y)
            -z $(arg robot_z)
            -Y $(arg robot_yaw)
          "/>

  </group>

  <!-- ================================================== -->
  <!-- Mecanum chassis control -->
  <!-- ================================================== -->

  <include file="$(find robot_mecanum_control)/launch/mecanum_control.launch">
    <arg name="publish_wheel_odom" value="true"/>
  </include>


  <!-- ================================================== -->
  <!-- Local odometry fusion -->
  <!-- ================================================== -->

  <include file="$(find robot_mecanum_control)/launch/localization.launch"/>

  <!-- ================================================== -->
  <!-- RViz -->
  <!-- ================================================== -->

  <node if="$(arg rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(arg rviz_config)"
        output="screen"/>

</launch>