<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- Four independent velocity interfaces for gazebo_ros_control. -->
  <xacro:macro name="wheel_transmission" params="name">
    <transmission name="${name}_wheel_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_wheel_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:wheel_transmission name="front_left"/>
  <xacro:wheel_transmission name="front_right"/>
  <xacro:wheel_transmission name="rear_left"/>
  <xacro:wheel_transmission name="rear_right"/>
</robot>
