<launch>
  <arg name="world_name"
       default="$(find robot_gazebo)/worlds/community.world"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>

  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_z" default="0.1"/>
  <arg name="spawn_yaw" default="0.0"/>

  <arg name="start_rviz" default="true"/>
  <arg name="start_image_view" default="false"/>
  <arg name="rviz_config"
       default="$(find robot_gazebo)/rviz/car.rviz"/>
  

  <include file="$(find robot_gazebo)/launch/test_community_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find robot_description)/urdf/robotcar.urdf.xacro"/>

  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen">
    <param name="use_sim_time" value="$(arg use_sim_time)"/>
  </node>

  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_robot"
        args="-urdf -param robot_description -model robotcar
              -x $(arg spawn_x) -y $(arg spawn_y) -z $(arg spawn_z)
              -Y $(arg spawn_yaw)"
        output="screen"/>

  <include file="$(find robot_mecanum_control)/launch/mecanum_control.launch"/>
  <include file="$(find robot_mecanum_control)/launch/localization.launch"/>

 <node if="$(arg start_rviz)"
      pkg="rviz"
      type="rviz"
      name="rviz"
      args="-d $(arg rviz_config)"
      output="screen">
  <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
</node>

  <node if="$(arg start_image_view)"
        pkg="image_view"
        type="image_view"
        name="camera_image_view"
        args="image:=/camera/color/image_raw"
        output="screen"/>
</launch>