<launch>
  <arg name="camera_topic" default="/camera/color/image_raw" />
  <arg name="ros_python_path" default="/opt/ros/noetic/lib/python3/dist-packages" />
  <arg name="plate_font_path" default="" />
  <arg name="python" default="python3" />
  <arg name="show_images" default="true" />
  <arg name="person_image_topic" default="/perception/person_image" />
  <arg name="person_json_topic" default="/perception/person_detections_json" />
  <arg name="plate_image_topic" default="/perception/plates_image" />
  <arg name="plate_json_topic" default="/perception/plates_json" />
  <arg name="traffic_light_image_topic" default="/perception/traffic_light_image" />
  <arg name="traffic_light_json_topic" default="/perception/traffic_light_json" />
  <arg name="enable_person" default="true" />
  <arg name="person_model" default="$(find robot_perception)/models/person_best.pt" />
  <arg name="person_device" default="0" />
  <arg name="person_confidence" default="0.8" />
  <arg name="person_max_rate" default="5.0" />
  <arg name="enable_plate" default="true" />
  <arg name="plate_max_rate" default="5.0" />
  <arg name="plate_min_confidence" default="0.5" />
  <arg name="enable_traffic_light" default="true" />
  <arg name="traffic_light_max_rate" default="5.0" />
  <include file="$(find robot_perception)/launch/person_detection.launch" if="$(arg enable_person)">
    <arg name="python" value="$(arg python)" />
    <arg name="ros_python_path" value="$(arg ros_python_path)" />
    <arg name="model" value="$(arg person_model)" />
    <arg name="device" value="$(arg person_device)" />
    <arg name="confidence" value="$(arg person_confidence)" />
    <arg name="input_topic" value="$(arg camera_topic)" />
    <arg name="image_topic" value="$(arg person_image_topic)" />
    <arg name="json_topic" value="$(arg person_json_topic)" />
    <arg name="max_rate" value="$(arg person_max_rate)" />
  </include>
  <include file="$(find robot_perception)/launch/plate_recognition.launch" if="$(arg enable_plate)">
    <arg name="python" value="$(arg python)" />
    <arg name="ros_python_path" value="$(arg ros_python_path)" />
    <arg name="input_topic" value="$(arg camera_topic)" />
    <arg name="image_topic" value="$(arg plate_image_topic)" />
    <arg name="result_topic" value="$(arg plate_json_topic)" />
    <arg name="max_rate" value="$(arg plate_max_rate)" />
    <arg name="min_confidence" value="$(arg plate_min_confidence)" />
    <arg name="font_path" value="$(arg plate_font_path)" />
  </include>
  <include file="$(find robot_perception)/launch/traffic_light_recognition.launch" if="$(arg enable_traffic_light)">
    <arg name="python" value="$(arg python)" />
    <arg name="ros_python_path" value="$(arg ros_python_path)" />
    <arg name="input_topic" value="$(arg camera_topic)" />
    <arg name="image_topic" value="$(arg traffic_light_image_topic)" />
    <arg name="result_topic" value="$(arg traffic_light_json_topic)" />
    <arg name="max_rate" value="$(arg traffic_light_max_rate)" />
  </include>
  <node pkg="image_view" type="image_view" name="person_image_view" args="image:=$(arg person_image_topic)" output="screen" if="$(arg show_images)" />
  <node pkg="image_view" type="image_view" name="plate_image_view" args="image:=$(arg plate_image_topic)" output="screen" if="$(arg show_images)" />
  <node pkg="image_view" type="image_view" name="traffic_light_image_view" args="image:=$(arg traffic_light_image_topic)" output="screen" if="$(arg show_images)" />
</launch>
